body{
    font-size: 4rem;
    font-family: sans-serif;
    background-color: #1d1818;
}

.flex-container{
    background-color: #404040;
    /* border-radius: 10px; */
    border: solid 2px yellow;
}

.flex-container > *{
    /* padding: 10px;
    margin: 10px;
    border: solid 1px black; */
    border-radius: 10px;
    background: #f18c55;
}

.flex-container{
    height: 500px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    /* align-content: space-around; */
}

.one{
    height: 100px;
    /* align-self: center; */
    width: 200px;
    /* flex-basis: auto;
    flex-grow: 1; */
    /* flex: initial;/*0 1 auto*/
    flex: auto;/*1 1 auto*/
    flex: none;/*0 0 auto*/
    flex: 1;/*1 1 0 */
    
}

.two{
    height: 100px;
    width: 200px;
    /* align-self: flex-end; */
    /* margin-left: auto; */
    /* flex-grow: 2;
    flex-shrink: 2; */
    flex: auto;
    flex: 1;
}

.three{
    height: 100px;
    width: 200px;
    /* order: -5; */
    /* flex-grow: 1; */
    flex: 1;
}